<body>
    <a href='/'>home</a>
    <a href='/about'>about</a>
    <a href='/hobies'>hoby</a>
    <h1>my hobies</h1>
    <ul>
        <li>fishing</li>
        <li>eat</li>
        <li>code</li>
    </ul>
</body>
